body {
  font-family: Verdana;
  font-size: 10pt;
  background-image: url("../images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#maindiv{
  width: 600px;
  height:500px;
  margin: 0px auto;
  margin-top: 20px;
  border-image-slice: 1;
  border-width: 4px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      red, 
     yellow
    )1;
}

#restartButton{
    width: 200px; 
    height: 70px;  
    background: url("../images/restartButton.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px 70px;
    left: 42%;
    top:  66%;
    position: absolute;
    border: 0;
    transition: transform .2s;
}

#restartButton:hover{
  border: 0;
  transform: scale(1.1);
}

#playButton{
  width: 200px; 
  height: 70px;  
  background: url("../images/startButton.png"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px 70px;
  left: 42%;
  top:  40%;
  position: absolute;
  border: 0;
  transition: transform .2s;
}

#playButton:hover{
border: 0;
transform: scale(1.3);
}