/* line 1 */
body {
  font-family: Verdana;
  font-size: 10pt;
  background-image: url("../images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#maindiv{
  width: 600px;
  height:500px;
  margin: 0px auto;
  margin-top: 20px;
  border-image-slice: 1;
  border-width: 4px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      red, 
     yellow
    )1;
  /* background-image: url("../images/space4.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

#restartButton{
    width: 200px; 
    height: 70px;  
    background: url("../images/restartButton3.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px 70px;
    left: 42%;
    top:  70%;
    position: absolute;
    border: 0;
}